<% content_for :header_meta do%>
<!-- // Meta //  -->
<meta charset="utf-8">   
<meta name="description" content="" />
<meta name="keywords" content="" />

<% end %>

<% content_for :content do %>
<article class="full-block clearfix">
		
			<div class="article-container">
            <section>
				<% if params[:notice] %>
					<div class="notification success">
						<a href="#" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
						<p><strong>Success notification:</strong> <%= params[:notice] %></p>
					</div>
				<% end %>
				<% if params[:warning] %>
					<div class="notification error">
						<a href="#" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
						<p><strong>Error notification:</strong> <%= params[:warning] %></p>
					</div>
				<% end %>
	
	
					<div class="sidetab default-sidetab" id="sidetab1">
							<h3>List of Banners</h3>
                            <p>
                                <%= link_to "Create New", new_admin_banner_path %>
                            </p>
							<table class="datatable">
								<thead>
									 <tr>
                                        <th>
                                            Banner
                                        </th>
										<th>
											Title
										</th>
										<th>
											Locale
										</th>
                                        <th>
                                            Created At
                                        </th>
                                        <th>
                                            Is Published?
                                        </th>
                                        <th></th>
                                    </tr>
								</thead>
								<tbody>
									<% for banners in @banners %>
									<tr class="gradeX">
										<td><img src="/images/banners/<%= banners.id %>/thumb/<%= banners.banner_file_name %>" width="150px"></td>
										<td><%= banners.title %></td>
										<td><%= banners.locale %></td>
										<td><%= banners.created_at.strftime("%m-%d-%Y") %></td>
										<td>
											<% if banners.activate == true %>
												<%= image_tag 'admin/img/icons/list-style/icon_list_style_checkmark.png' %>
											<% else %>
												<%= image_tag 'admin/img/icons/list-style/icon_list_style_cross.png' %>
											<% end %>
										</td>
										<td><%= link_to "Edit", edit_admin_banner_path(banners) %> |
                                        <%= link_to "Delete", admin_banner_path(banners), :confirm => 'Are you sure?', :method => :delete, :title => "Delete" %></td>
										
									</tr>
									<% end %>
									
								</tbody>
								<tfoot>
									<tr>
                                        <th>
                                            Banner
                                        </th>
										<th>
											Title
										</th>
										<th>
											Locale
										</th>
                                        <th>
                                            Created At
                                        </th>
                                        <th>
                                            Is Published?
                                        </th>
                                        <th></th>
                                    </tr>
								</tfoot>
							</table>
</div>
</section>
</div>
</article>
<% end %>