<% content_for :main_body do %>
<div class="page-title">
<h4>Create an account</h4>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class=>"nice" }) do |f| %>
  <%= devise_error_messages! %>

<fieldset>
	
	<table style="border:none;margin-left: 30%;">
		<tr><td style="vertical-align: baseline;line-height: 40px;font-weight:bold;">First name</td>
			<td><%= f.text_field :first_name, :class => 'input-text' %></td>
		</tr>
		<tr><td style="vertical-align: baseline;line-height: 40px;font-weight:bold;">Last name</td>
			<td><%= f.text_field :last_name, :class => 'input-text' %></td>
		</tr>
		<tr>
			<td style="vertical-align: baseline;line-height: 40px;font-weight:bold;">Address</td>
			<td><%= f.text_field :email, :class => 'input-text long' %></td>
		</tr>
		<tr>
			<td style="vertical-align: baseline;line-height: 40px;font-weight:bold;">
				<%= f.label :country %></td><td><%= country_select(resource_name, :country) %>
			</td>
		</tr>
		
		<tr>
			<td style="vertical-align: baseline;line-height: 40px;font-weight:bold;">Email</td><td><%= f.email_field :email, :class => 'input-text' %></td>
		</tr>
		<tr>
			<td style="vertical-align: baseline;line-height: 40px;font-weight:bold;">Password</td><td><%= f.password_field :password, :class => 'input-text' %></td>
		</tr>
		<tr>
			<td style="vertical-align: baseline;line-height: 40px;font-weight:bold;">Confirm Password</td><td><%= f.password_field :password_confirmation, :class => 'input-text' %></td>
		</tr>
	</table>
	
</fieldset>


  <div><%= f.submit "Sign up", :class => "button small" %></div>
<% end %>

<% end %>