<% content_for :header_meta do%>
<!-- // Meta //  -->
<meta charset="utf-8">   
<meta name="description" content="" />
<meta name="keywords" content="" />

<% end %>
<% content_for :content do %>
	<%= form_for(@project_images, :as => :project_images, :validate => true, :html => { :multipart => true }, :url => admin_project_images_path) do |f| %>
	
	   <fieldset>
	        <legend><h2>Create Image</h2></legend>

	        <dl>
				<dt>
	                <label>Title</label>
	            </dt>
	            <dd>
					<%= f.text_field :title, :class => 'small' %>  
	            </dd>
				
				<dt>
	                <label>Upload Image</label>
	            </dt>
	            <dd>
					<%= f.file_field :image, :class => 'fileupload customfile-input' %>
	            </dd>
	        </dl>
		</fieldset>
		<fieldset>
		        <legend><h2>Settings</h2></legend>

		        <dl>
					<dt>
		                <label>Tag</label>
		            </dt>
		            <dd>
						<%= f.text_field :tag, :class => 'large' %>
		            </dd>
				
					<dt>
		                <label>Is Published?</label>
		            </dt>
		            <dd>
						<%= f.check_box :activate  %>
		            </dd>
		        </dl>
	        <p>
	            <button type="submit" value="Save">Submit</button> or <a href="/admin/<%= session[:current_page_name].downcase %>" title="Leave without saving" rel="tooltip">Cancel</a>
	        </p>
	        <br />

	    </fieldset>
	<% end %>
	<div>
	    <a href="/admin/<%= session[:current_page_name].downcase %>">Back to List</a>
	</div>
<% end %>