<% content_for :header_meta do%>
<!-- // Meta //  -->
<meta charset="utf-8">   
<meta name="description" content="" />
<meta name="keywords" content="" />

<% end %>

<% content_for :content do %>
<article class="full-block clearfix">
		
			<div class="article-container">
            <section>
				<% if params[:notice] %>
					<div class="notification success">
						<a href="#" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
						<p><strong>Success notification:</strong> <%= params[:notice] %></p>
					</div>
				<% end %>
				<% if params[:warning] %>
					<div class="notification error">
						<a href="#" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
						<p><strong>Error notification:</strong> <%= params[:warning] %></p>
					</div>
				<% end %>
	
	
					<div class="sidetab default-sidetab" id="sidetab1">
							<h3>List of Natures</h3>
                            <p>
                                <%= link_to "Create New", new_admin_nature_path %>
                            </p>
							<table class="datatable">
								<thead>
									 <tr>
										<th>
											Type
										</th>
                                        <th>
                                            Zh
                                        </th>
                                        <th>
                                            Created At
                                        </th>
                                        <th></th>
                                    </tr>
								</thead>
								<tbody>
									<% for nature in @nature %>
									<tr class="gradeX">
										<td><%= nature.name %></td>
										<td><%= nature.name_zh %></td>
										<td><%= nature.created_at.strftime("%m-%d-%Y") %></td>
										
										<td><%= link_to "Edit", edit_admin_nature_path(nature) %> |
                                        <%= link_to "Delete", admin_nature_path(nature), :confirm => 'Are you sure?', :method => :delete, :title => "Delete" %></td>
										
									</tr>
									<% end %>
									
								</tbody>
								<tfoot>
									<tr>
										<th>
											Type
										</th>
                                        <th>
                                            Zh
                                        </th>
                                        <th>
                                            Created At
                                        </th>
                                        <th></th>
									</tr>
								</tfoot>
							</table>
</div>
</section>
</div>
</article>
<% end %>