<% content_for :extra_include do %>

<% end %>

<% content_for :main_body do %>
<div style="padding:10px 50px">
	<div id="creativity-col-1" class="left">
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<% count = 0 %>
		<% for c in @creativity %>
		
			<% if count >= 5 %>
			<a href="/publications/<%=c.id%>/<%=c.browser_url%>">
			<div class="box">
				<h3>
					<%= c.title %>
				</h3>
				<p>
					<%= c.short_description %>
				</p>
			</div>
			</a>
			<% end %>
			<% count = count + 1 %>
		<% end %>
	</div>
	<div id="creativity-col-2" class="left">
		<% count = 0 %>
		<% for c in @creativity %>
			<% if count > 1 %>
			<a href="/publications/<%=c.id%>/<%=c.browser_url%>">
			<div class="box">
				<h3>
					<%= c.title %>
				</h3>
				<img src="<%= c.cover.url(:large) %>" />
				
					<%= c.short_description %>
				
			</div>
			</a>
			<% end %>
			<% count = count + 1 %>
			<% break if count == 5 %>
		<% end %>
	</div>
	<div id="creativity-col-3" class="left">
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		<div class="box">
			<h5>Hot Issues</h5>
			<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
			  <%= link_to tag.name, '/', :class => css_class %>
			<% end %>
		</div>
	
		<% count = 0 %>
		<% for c in @creativity %>
		<a href="/publications/<%=c.id%>/<%=c.browser_url%>">
			<div class="box">
				<h3>
					<%= c.title %>
				</h3>
				<img src="<%= c.cover.url(:large) %>" />
				<%= c.short_description %>
			</div>
			</a>
			<% count = count + 1 %>
			<% break if count == 1%>
		<% end %>

	</div>
	<br class="clear" />
</div>
<% end %>