<% content_for :header_meta do%>
<!-- // Meta //  -->
<meta charset="utf-8">   
<meta name="description" content="" />
<meta name="keywords" content="" />

<% end %>
<% content_for :content do %>
	<%= form_for(@job_industry, :as => :job_industry, :validate => true, :url => admin_job_industries_path(@job_industry)) do |f| %>
	
	   <fieldset>
	        <legend><h2>Edit Job Industry</h2></legend>

	        <dl>
				<dt>
	                <label>Name</label>
	            </dt>
	            <dd>
					<%= f.text_field :name, :class => 'small' %>  
	            </dd>
	
			</dl>
		</fieldset>
		<fieldset>
		        <legend><h2>Settings</h2></legend>

		        <dl>
					
					
					<dt>
		                <label>Locale</label>
		            </dt>
		            <dd>
						<% @collectionSet = Locale.all%>
	                    <%= f.collection_select :locale, @collectionSet, :code, :name, {:include_blank => true}, {:class => 'select-1'} %>
		            </dd>
		        </dl>
	        <p>
	            <button type="submit" value="Save">Submit</button> or <a href="/admin/<%= session[:current_page_name].downcase %>" title="Leave without saving" rel="tooltip">Cancel</a>
	        </p>
	        <br />

	    </fieldset>
	<% end %>
	<div>
	    <a href="/admin/<%= session[:current_page_name].downcase %>">Back to List</a>
	</div>
<% end %>