<% content_for :header_meta do%>
<!-- // Meta //  -->
<meta charset="utf-8">   
<meta name="description" content="" />
<meta name="keywords" content="" />

<% end %>
<% content_for :content do %>
	<%= form_for(@team, :as => :team, :validate => true, :html => { :multipart => true }, :url => admin_teams_path) do |f| %>
	
	   <fieldset>
	        <legend><h2>Create Team</h2></legend>

	        <dl>
				<dt>
	                <label>First Name</label>
	            </dt>
	            <dd>
					<%= f.text_field :first_name, :class => 'small' %>  
	            </dd>
	            <dt>
	                <label>Middle Initial</label>
	            </dt>
	            <dd>
					<%= f.text_field :middle_initial, :class => 'small' %>  
	            </dd>
	            <dt>
	                <label>Last Name</label>
	            </dt>
	            <dd>
					<%= f.text_field :last_name, :class => 'small' %>  
	            </dd>
	            <dt>
	                <label>Position</label>
	            </dt>
	            <dd>
					<%= f.text_field :position, :class => 'small' %>  
	            </dd>
	            <dt>
	                <label>Page Url</label>
	            </dt>
	            <dd>
					<%= f.text_field :page_url, :class => 'medium' %>  
	            </dd>
	            <dt>
	                <label>Brief Intro</label>
	            </dt>
	            <dd>
					<%= f.cktext_area :brief_intro, :width => '80%' %>
	            </dd>
				<dt>
	                <label>Body Content</label>
	            </dt>
	            <dd>
					<%= f.cktext_area :body, :width => '80%' %>
	            </dd>
	            <dt>
	                <label>Phone Direct</label>
	            </dt>
	            <dd>
					<%= f.text_field :phone_direct, :class => 'small' %>  
	            </dd>
	            <dt>
	                <label>Mobile No.</label>
	            </dt>
	            <dd>
					<%= f.text_field :mobile_no, :class => 'small' %>  
	            </dd>
	            <dt>
	                <label>Email</label>
	            </dt>
	            <dd>
					<%= f.text_field :email, :class => 'small' %>  
	            </dd>
				<dt>
	                <label>Upload Cover</label>
	            </dt>
	            <dd>
					<%= f.file_field :cover, :class => 'fileupload customfile-input' %>
	            </dd>
	
	        </dl>
		</fieldset>
		<fieldset>
		        <legend><h2>Settings</h2></legend>

		        <dl>
					<dt>
		                <label>Publish Date</label>
		            </dt>
		            <dd>
						<%= f.text_field :publish_date, :class => 'datepicker small'  %>
		            </dd>
					<dt>
		                <label>Locale</label>
		            </dt>
		            <dd>
						<% @collectionSet = Locale.all%>
	                    <%= f.collection_select :locale, @collectionSet, :code, :name, {:include_blank => true}, {:class => 'select-1'} %>
		            </dd>
					<dt>
		                <label>Display Order</label>
		            </dt>
		            <dd>
						<%= f.text_field :display_order, :class => 'small' %>  
		            </dd>
					<dt>
		                <label>Is Published?</label>
		            </dt>
		            <dd>
						<%= f.check_box :activate  %>
		            </dd>
		        </dl>
	        <p>
	            <button type="submit" value="Save">Submit</button> or <a href="/admin/<%= session[:current_page_name].downcase %>" title="Leave without saving" rel="tooltip">Cancel</a>
	        </p>
	        <br />

	    </fieldset>
	<% end %>
	<div>
	    <a href="/admin/<%= session[:current_page_name].downcase %>">Back to List</a>
	</div>
<% end %>